@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");
@font-face {
  font-family: "pokemonHollow";
  src: url(../fuente/pokmon/Pokemon\ Hollow.ttf);
}
@font-face {
  font-family: "pokemonSolid";
  src: url(../fuente/pokmon/Pokemon\ Solid.ttf);
}
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(circle, rgb(255, 175, 0) 0%, rgb(255, 0, 0) 27%, rgb(2, 0, 36) 69%);
}

header {
  background-color: rgba(255, 0, 0, 0.5);
  position: relative;
  top: 0;
}
header nav {
  display: inline-flex;
}
header nav .logo {
  width: 200px;
  height: 100px;
}
header nav .heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
header nav .menu {
  color: black;
  list-style: none;
  letter-spacing: 1px;
}
header nav .menu li {
  font-family: "pokemonSolid";
  list-style-type: none;
  display: inline-flex;
  margin-left: 20px;
  transition: 500ms ease;
  text-transform: uppercase;
  cursor: pointer;
}
header nav .menu li a {
  position: relative;
  color: black;
  text-decoration: none;
}
header nav .menu li a:hover {
  filter: blur(0);
  transform: scale(1.1);
  background: linear-gradient(90deg, #fef900, #ff5e00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .menu li a .aca {
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  color: rgb(255, 204, 0);
  font-family: "pokemonSolid";
  text-shadow: rgb(0, 115, 188) 8px 0px 0px, rgb(0, 115, 188) 7.93758px 0.997398px 0px, rgb(0, 115, 188) 7.7513px 1.97923px 0px, rgb(0, 115, 188) 7.44406px 2.93018px 0px, rgb(0, 115, 188) 7.02066px 3.8354px 0px, rgb(0, 115, 188) 6.4877px 4.68078px 0px, rgb(0, 115, 188) 5.85351px 5.45311px 0px, rgb(0, 115, 188) 5.12797px 6.14035px 0px, rgb(0, 115, 188) 4.32242px 6.73177px 0px, rgb(0, 115, 188) 3.44941px 7.21814px 0px, rgb(0, 115, 188) 2.52258px 7.59188px 0px, rgb(0, 115, 188) 1.55638px 7.84714px 0px, rgb(0, 115, 188) 0.565898px 7.97996px 0px, rgb(0, 115, 188) -0.433417px 7.98825px 0px, rgb(0, 115, 188) -1.42597px 7.87189px 0px, rgb(0, 115, 188) -2.39627px 7.63269px 0px, rgb(0, 115, 188) -3.32917px 7.27438px 0px, rgb(0, 115, 188) -4.21013px 6.80256px 0px, rgb(0, 115, 188) -5.02539px 6.22459px 0px, rgb(0, 115, 188) -5.76223px 5.54948px 0px, rgb(0, 115, 188) -6.40915px 4.78778px 0px, rgb(0, 115, 188) -6.95606px 3.95136px 0px, rgb(0, 115, 188) -7.39442px 3.05329px 0px, rgb(0, 115, 188) -7.71739px 2.10757px 0px, rgb(0, 115, 188) -7.91994px 1.12896px 0px, rgb(0, 115, 188) -7.9989px 0.132735px 0px, rgb(0, 115, 188) -7.95304px -0.865561px 0px, rgb(0, 115, 188) -7.78307px -1.85035px 0px, rgb(0, 115, 188) -7.49165px -2.80627px 0px, rgb(0, 115, 188) -7.08333px -3.71839px 0px, rgb(0, 115, 188) -6.56448px -4.57249px 0px, rgb(0, 115, 188) -5.94318px -5.35524px 0px, rgb(0, 115, 188) -5.22915px -6.05442px 0px, rgb(0, 115, 188) -4.43352px -6.65912px 0px, rgb(0, 115, 188) -3.5687px -7.15991px 0px, rgb(0, 115, 188) -2.6482px -7.54898px 0px, rgb(0, 115, 188) -1.68637px -7.82024px 0px, rgb(0, 115, 188) -0.698222px -7.96947px 0px, rgb(0, 115, 188) 0.300817px -7.99434px 0px, rgb(0, 115, 188) 1.29516px -7.89446px 0px, rgb(0, 115, 188) 2.2693px -7.67139px 0px, rgb(0, 115, 188) 3.20802px -7.32862px 0px, rgb(0, 115, 188) 4.09668px -6.87148px 0px, rgb(0, 115, 188) 4.92142px -6.30711px 0px, rgb(0, 115, 188) 5.66936px -5.64432px 0px, rgb(0, 115, 188) 6.32883px -4.89346px 0px, rgb(0, 115, 188) 6.88954px -4.06623px 0px, rgb(0, 115, 188) 7.34274px -3.17555px 0px, rgb(0, 115, 188) 7.68136px -2.23532px 0px, rgb(0, 115, 188) 7.90012px -1.26021px 0px, rgb(0, 115, 188) 7.9956px -0.265434px 0px;
  text-decoration: none;
  display: grid;
  place-items: center;
  padding-top: 1rem;
  margin-bottom: 30px;
  font-size: 65px;
}

.aca {
  font-size: 25px;
}

.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
}
.tarjetas .tarjeta {
  background-color: rgba(255, 0, 0, 0.8);
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.8), rgba(255, 234, 0, 0.896));
  border-radius: 50px;
  margin: 2rem;
  padding: 1.5rem;
  border: solid red;
  width: 350px;
}
.tarjetas .tarjeta .nombre {
  color: rgb(255, 204, 0);
  text-shadow: rgb(0, 115, 188) 4px 0px 0px, rgb(0, 115, 188) 3.87565px 0.989616px 0px, rgb(0, 115, 188) 3.51033px 1.9177px 0px, rgb(0, 115, 188) 2.92676px 2.72656px 0px, rgb(0, 115, 188) 2.16121px 3.36588px 0px, rgb(0, 115, 188) 1.26129px 3.79594px 0px, rgb(0, 115, 188) 0.282949px 3.98998px 0px, rgb(0, 115, 188) -0.712984px 3.93594px 0px, rgb(0, 115, 188) -1.66459px 3.63719px 0px, rgb(0, 115, 188) -2.51269px 3.11229px 0px, rgb(0, 115, 188) -3.20457px 2.39389px 0px, rgb(0, 115, 188) -3.69721px 1.52664px 0px, rgb(0, 115, 188) -3.95997px 0.56448px 0px, rgb(0, 115, 188) -3.97652px -0.432781px 0px, rgb(0, 115, 188) -3.74583px -1.40313px 0px, rgb(0, 115, 188) -3.28224px -2.28625px 0px, rgb(0, 115, 188) -2.61457px -3.02721px 0px, rgb(0, 115, 188) -1.78435px -3.57996px 0px, rgb(0, 115, 188) -0.843183px -3.91012px 0px, rgb(0, 115, 188) 0.150409px -3.99717px 0px, rgb(0, 115, 188) 1.13465px -3.8357px 0px, rgb(0, 115, 188) 2.04834px -3.43574px 0px, rgb(0, 115, 188) 2.83468px -2.82216px 0px, rgb(0, 115, 188) 3.44477px -2.03312px 0px, rgb(0, 115, 188) 3.84068px -1.11766px 0px, rgb(0, 115, 188) 3.9978px -0.132717px 0px;
  font-family: "pokemonSolid";
  display: grid;
  place-items: center;
  font-size: 3rem;
  margin-bottom: 30px;
}
.tarjetas .tarjeta .tarjeta-img {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 20px;
}
.tarjetas .tarjeta .tarjeta-img:hover {
  transform: scale(1.1);
}
.tarjetas .roll-in-blurred-left {
  animation: roll-in-blurred-left 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.tarjetas .roll-in-blurred-top {
  animation: roll-in-blurred-top 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.tarjetas .roll-in-blurred-right {
  animation: roll-in-blurred-right 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.lista-personajes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.lista-personajes .tarjeta-personajes {
  position: relative;
  background: rgb(255, 0, 0);
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.8016456583) 24%, rgba(2, 0, 36, 0.8016456583) 56%);
  border-radius: 20px;
  margin-top: 3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border: solid black;
  height: 350px;
  width: 300px;
  display: flex;
}
.lista-personajes .tarjeta-personajes .img-personaje {
  width: 100%;
  height: 95%;
}
.lista-personajes .tarjeta-personajes .tarjeta-texto {
  padding: 2rem;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  color: rgb(255, 204, 0);
  font-family: "pokemonSolid";
  text-shadow: rgb(0, 115, 188) 3px 0px 0px, rgb(0, 115, 188) 2.83487px 0.981584px 0px, rgb(0, 115, 188) 2.35766px 1.85511px 0px, rgb(0, 115, 188) 1.62091px 2.52441px 0px, rgb(0, 115, 188) 0.705713px 2.91581px 0px, rgb(0, 115, 188) -0.287171px 2.98622px 0px, rgb(0, 115, 188) -1.24844px 2.72789px 0px, rgb(0, 115, 188) -2.07227px 2.16926px 0px, rgb(0, 115, 188) -2.66798px 1.37182px 0px, rgb(0, 115, 188) -2.96998px 0.42336px 0px, rgb(0, 115, 188) -2.94502px -0.571704px 0px, rgb(0, 115, 188) -2.59586px -1.50383px 0px, rgb(0, 115, 188) -1.96093px -2.27041px 0px, rgb(0, 115, 188) -1.11013px -2.78704px 0px, rgb(0, 115, 188) -0.137119px -2.99686px 0px, rgb(0, 115, 188) 0.850987px -2.87677px 0px, rgb(0, 115, 188) 1.74541px -2.43999px 0px, rgb(0, 115, 188) 2.44769px -1.73459px 0px, rgb(0, 115, 188) 2.88051px -0.838247px 0px;
  position: absolute;
  border-radius: 15px;
  font-weight: bold;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.8);
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.lista-personajes .tarjeta-personajes .tarjeta-texto h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.lista-personajes .tarjeta-personajes:hover .tarjeta-texto {
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
}
.container .lista-pokemon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.container .lista-pokemon .tarjeta-pokemon {
  cursor: pointer;
  text-decoration: none;
  padding-top: 20px;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 250px;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-img img {
  width: 100%;
  height: 100%;
}
.container .lista-pokemon .tarjeta-pokemon .img-planta {
  background-color: rgb(41, 253, 41);
}
.container .lista-pokemon .tarjeta-pokemon .img-fuego {
  background-color: rgb(250, 113, 34);
}
.container .lista-pokemon .tarjeta-pokemon .img-agua {
  background-color: rgb(0, 208, 255);
}
.container .lista-pokemon .tarjeta-pokemon .img-bicho {
  background-color: green;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info {
  padding: 15px;
  background-color: antiquewhite;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .numero-pokemon {
  display: block;
  color: red;
  margin-bottom: 15px;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info h2 {
  color: black;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .tipo {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .tipo span {
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
  color: aliceblue;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .planta {
  background-color: rgb(41, 253, 41);
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .veneno {
  background-color: rgb(161, 70, 246);
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .fuego {
  background-color: rgb(250, 113, 34);
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .agua {
  background-color: rgb(0, 208, 255);
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .bicho {
  background-color: green;
}
.container .lista-pokemon .tarjeta-pokemon .tarjeta-pokemon-info .volador {
  background-image: linear-gradient(rgb(142, 244, 255), blue);
}
.container .lista-pokemon .tarjeta-pokemon:hover {
  transform: scale(1.2);
}

.container .temporadas h2 {
  font-family: "pokemonSolid";
  color: rgb(255, 204, 0);
  padding-top: 2rem;
  margin-bottom: 30px;
  font-size: 35px;
  text-shadow: rgb(0, 115, 188) 8px 0px 0px, rgb(0, 115, 188) 7.93758px 0.997398px 0px, rgb(0, 115, 188) 7.7513px 1.97923px 0px, rgb(0, 115, 188) 7.44406px 2.93018px 0px, rgb(0, 115, 188) 7.02066px 3.8354px 0px, rgb(0, 115, 188) 6.4877px 4.68078px 0px, rgb(0, 115, 188) 5.85351px 5.45311px 0px, rgb(0, 115, 188) 5.12797px 6.14035px 0px, rgb(0, 115, 188) 4.32242px 6.73177px 0px, rgb(0, 115, 188) 3.44941px 7.21814px 0px, rgb(0, 115, 188) 2.52258px 7.59188px 0px, rgb(0, 115, 188) 1.55638px 7.84714px 0px, rgb(0, 115, 188) 0.565898px 7.97996px 0px, rgb(0, 115, 188) -0.433417px 7.98825px 0px, rgb(0, 115, 188) -1.42597px 7.87189px 0px, rgb(0, 115, 188) -2.39627px 7.63269px 0px, rgb(0, 115, 188) -3.32917px 7.27438px 0px, rgb(0, 115, 188) -4.21013px 6.80256px 0px, rgb(0, 115, 188) -5.02539px 6.22459px 0px, rgb(0, 115, 188) -5.76223px 5.54948px 0px, rgb(0, 115, 188) -6.40915px 4.78778px 0px, rgb(0, 115, 188) -6.95606px 3.95136px 0px, rgb(0, 115, 188) -7.39442px 3.05329px 0px, rgb(0, 115, 188) -7.71739px 2.10757px 0px, rgb(0, 115, 188) -7.91994px 1.12896px 0px, rgb(0, 115, 188) -7.9989px 0.132735px 0px, rgb(0, 115, 188) -7.95304px -0.865561px 0px, rgb(0, 115, 188) -7.78307px -1.85035px 0px, rgb(0, 115, 188) -7.49165px -2.80627px 0px, rgb(0, 115, 188) -7.08333px -3.71839px 0px, rgb(0, 115, 188) -6.56448px -4.57249px 0px, rgb(0, 115, 188) -5.94318px -5.35524px 0px, rgb(0, 115, 188) -5.22915px -6.05442px 0px, rgb(0, 115, 188) -4.43352px -6.65912px 0px, rgb(0, 115, 188) -3.5687px -7.15991px 0px, rgb(0, 115, 188) -2.6482px -7.54898px 0px, rgb(0, 115, 188) -1.68637px -7.82024px 0px, rgb(0, 115, 188) -0.698222px -7.96947px 0px, rgb(0, 115, 188) 0.300817px -7.99434px 0px, rgb(0, 115, 188) 1.29516px -7.89446px 0px, rgb(0, 115, 188) 2.2693px -7.67139px 0px, rgb(0, 115, 188) 3.20802px -7.32862px 0px, rgb(0, 115, 188) 4.09668px -6.87148px 0px, rgb(0, 115, 188) 4.92142px -6.30711px 0px, rgb(0, 115, 188) 5.66936px -5.64432px 0px, rgb(0, 115, 188) 6.32883px -4.89346px 0px, rgb(0, 115, 188) 6.88954px -4.06623px 0px, rgb(0, 115, 188) 7.34274px -3.17555px 0px, rgb(0, 115, 188) 7.68136px -2.23532px 0px, rgb(0, 115, 188) 7.90012px -1.26021px 0px, rgb(0, 115, 188) 7.9956px -0.265434px 0px;
}
.container .videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .videos div {
  padding: 50px;
}
.container .videos .titulos {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}
.container .videos iframe {
  width: 400px;
  height: 250px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.formulario form {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.2rem;
  border: solid black;
  width: 500px;
}
.formulario form label, .formulario form input, .formulario form textarea {
  display: block;
  justify-content: center;
  align-items: center;
  width: 96%;
  text-align: center;
  margin: 8px;
}
.formulario form input {
  margin-top: 5px;
  font-size: 1.2rem;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.formulario form textarea {
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.formulario form .enviar {
  color: aliceblue;
  background-color: black;
}

.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}
.container-img .box-img figure {
  width: 100%;
  height: 100%;
}
.container-img .box-img figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-img .box-img figure img:hover {
  transform: scale(1.1);
}
.container-img .box-img:nth-child(1) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}
.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}

footer {
  bottom: 0;
  width: 100%;
  margin-top: auto;
  border-top: solid red;
  background-color: rgba(255, 0, 0, 0.5);
}
footer ul {
  display: flex;
  gap: 1rem;
}
footer ul li {
  list-style-type: none;
  margin-top: 10px;
}
footer ul li a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer ul li a:hover {
  color: #fef900;
}
footer .SocRedes {
  margin-left: 720px;
  display: flex;
  align-items: center;
  background-color: black;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 14rem;
}
footer .SocRedes a {
  text-decoration: none;
  color: #f9f9f9;
}
footer .SocRedes .bi-facebook:hover {
  color: #00d9ff;
}
footer .SocRedes .bi-tiktok:hover {
  color: #16fd01;
}
footer .SocRedes .bi-instagram:hover {
  color: #db0cc3;
}
footer .SocRedes .bi-youtube:hover {
  color: #ff0808;
}
footer .SocRedes .bi-twitter-x:hover {
  color: #b700ff;
}
footer .SocRedes .bi {
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

@media only screen and (max-width: 680px) {
  .tarjetas {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  .tarjetas .tarjeta {
    width: 300px;
    margin: 1rem;
  }
  .tarjetas .tarjeta .nombre {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .tarjetas .tarjeta .tarjeta-img {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 20px;
  }
  .tarjetas .tarjeta .tarjeta-img:hover {
    transform: scale(1);
  }
  .tarjetas .roll-in-blurred-left {
    animation: roll-in-blurred-left 0s cubic-bezier(0, 0, 0, 0) both;
  }
  .tarjetas .roll-in-blurred-top {
    animation: roll-in-blurred-top 0s cubic-bezier(0, 0, 0, 0) both;
  }
  .tarjetas .roll-in-blurred-right {
    animation: roll-in-blurred-right 0s cubic-bezier(0, 0, 0, 0) both;
  }
}
@media (max-width: 800px) {
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
  }
}
@media (max-width: 500px) {
  .container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img {
    height: 200px;
  }
}
@media (max-width: 850px) {
  .formulario {
    padding: 2rem;
  }
  .formulario form {
    width: 400px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  .formulario {
    padding: 2rem;
  }
  .formulario form {
    width: 300px;
  }
}
@media only screen and (max-width: 680px) {
  .lista-personajes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .lista-personajes .tarjeta-personajes {
    height: 300px;
    width: 250px;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 680px) and (max-width: 850px) {
  .lista-personajes {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 850px) {
  .lista-personajes {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .container .titulo h1 {
    font-size: 1.7rem;
    text-shadow: rgb(0, 115, 188) 3px 0px 0px, rgb(0, 115, 188) 2.83487px 0.981584px 0px, rgb(0, 115, 188) 2.35766px 1.85511px 0px, rgb(0, 115, 188) 1.62091px 2.52441px 0px, rgb(0, 115, 188) 0.705713px 2.91581px 0px, rgb(0, 115, 188) -0.287171px 2.98622px 0px, rgb(0, 115, 188) -1.24844px 2.72789px 0px, rgb(0, 115, 188) -2.07227px 2.16926px 0px, rgb(0, 115, 188) -2.66798px 1.37182px 0px, rgb(0, 115, 188) -2.96998px 0.42336px 0px, rgb(0, 115, 188) -2.94502px -0.571704px 0px, rgb(0, 115, 188) -2.59586px -1.50383px 0px, rgb(0, 115, 188) -1.96093px -2.27041px 0px, rgb(0, 115, 188) -1.11013px -2.78704px 0px, rgb(0, 115, 188) -0.137119px -2.99686px 0px, rgb(0, 115, 188) 0.850987px -2.87677px 0px, rgb(0, 115, 188) 1.74541px -2.43999px 0px, rgb(0, 115, 188) 2.44769px -1.73459px 0px, rgb(0, 115, 188) 2.88051px -0.838247px 0px;
  }
  .container .temporadas h2 {
    font-family: "pokemonSolid";
    color: rgb(255, 204, 0);
    padding-top: 2rem;
    margin-bottom: 30px;
    font-size: 20px;
    text-shadow: rgb(0, 115, 188) 3.5px 0px 0px, rgb(0, 115, 188) 2.83487px 0.981584px 0px, rgb(0, 115, 188) 2.35766px 1.85511px 0px, rgb(0, 115, 188) 1.62091px 2.52441px 0px, rgb(0, 115, 188) 0.705713px 2.91581px 0px, rgb(0, 115, 188) -0.287171px 2.98622px 0px, rgb(0, 115, 188) -1.24844px 2.72789px 0px, rgb(0, 115, 188) -2.07227px 2.16926px 0px, rgb(0, 115, 188) -2.66798px 1.37182px 0px, rgb(0, 115, 188) -2.96998px 0.42336px 0px, rgb(0, 115, 188) -2.94502px -0.571704px 0px, rgb(0, 115, 188) -2.59586px -1.50383px 0px, rgb(0, 115, 188) -1.96093px -2.27041px 0px, rgb(0, 115, 188) -1.11013px -2.78704px 0px, rgb(0, 115, 188) -0.137119px -2.99686px 0px, rgb(0, 115, 188) 0.850987px -2.87677px 0px, rgb(0, 115, 188) 1.74541px -2.43999px 0px, rgb(0, 115, 188) 2.44769px -1.73459px 0px, rgb(0, 115, 188) 2.88051px -0.838247px 0px;
  }
  .container .videos {
    grid-template-columns: 1fr;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .container .videos div {
    padding: 25px;
  }
  .container .videos iframe {
    height: 200px;
    width: 300px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  .container .lista-pokemon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 850px) {
  .container .lista-pokemon {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 680px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer ul {
    flex-direction: column;
    gap: 3px;
  }
  footer li a {
    font-size: 15px;
  }
  footer .SocRedes {
    margin-top: 1rem;
    margin-bottom: 0rem;
    margin-left: 100px;
    flex-direction: column;
    gap: 5px;
    height: 10rem;
    width: 3rem;
  }
  footer .SocRedes img {
    width: 35px;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-11-6 11:15:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-11-6 11:26:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation roll-in-blurred-top
 * ----------------------------------------
 */
@keyframes roll-in-blurred-top {
  0% {
    transform: translateY(-800px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
* Generated by Animista on 2023-11-6 11:31:42
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation roll-in-blurred-right
 * ----------------------------------------
 */
@keyframes roll-in-blurred-right {
  0% {
    transform: translateX(1000px) rotate(720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
* Generated by Animista on 2023-10-23 13:5:41
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}/*# sourceMappingURL=main.css.map */