<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="bulbasur, squero, charmander, los pokemon que ya conoce y muchos mas, conoce sus caracteristicas, evoluciones y otros datos para saber sobre ellos y atraparlos a todos">
    <meta name="keywords" content="pokemon, personajes, pokemones, temporadas, pikachu, charmander, charmeleon, charizar, bulbasur,venusaur,wartortle,">
    <title>POKEMON - POKEDEX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity=" sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/favicompokedex.jpg" type="image/x-icon">
</head>
<body>
    <!--HEADER---------------------------------------------------->
    
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img src="../img/612ce4761b9679000402af1c.png" alt="logo pokemon" class="logo heartbeat"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav menu">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./personajes.html">Personajes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link aca" href="./pokedex.html">Pokedex</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./temporadas.html">Temporadas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./galeria.html">Galeria</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./contactos.html">Contactos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <!--HEADER---------------------------------------------------->

    <div class="container">
    
    <!--MAIN------------------------------------------------------>
    <section>
        <h1>ATRAPALOS A TODOS</h1>
    </section>
    
        <main class="lista-pokemon container">

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-planta">
                    <img src="../img/pokedex/primeraGeneracion/bulbasur.png" alt="bulbasur Nº 01 tipo planta veneno">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 01</span>
                    <h2>BULBASUR</h2>
                    <div class="tipo">
                        <span class="planta">Planta</span>
                        <span class="veneno">Veneno</span>
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-planta">
                    <img src="../img/pokedex/primeraGeneracion/ivysaur02.png" alt="ivysaur Nº 02 tipo planta veneno">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 02</span>
                    <h2>IVYSAUR</h2>
                    <div class="tipo">
                        <span class="planta">Planta</span>
                        <span class="veneno">Veneno</span>
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-planta">
                    <img src="../img/pokedex/primeraGeneracion/800px-Venusaur.png" alt="venusaur Nº 03 tipo planta veneno">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 03</span>
                    <h2>VENUSAUR</h2>
                    <div class="tipo">
                        <span class="planta">Planta</span>
                        <span class="veneno">Veneno</span>
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-fuego">
                    <img src="../img/pokedex/primeraGeneracion/charmander.png" alt="charmander Nº 04 tipo fuego">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 04</span>
                    <h2>CHARMANDER</h2>
                    <div class="tipo">
                        <span class="fuego">Fuego</span>
                        
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-fuego">
                    <img src="../img/pokedex/primeraGeneracion/800px-Charmeleon.png" alt="charmeleon Nº 05 tipo fuego">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 05</span>
                    <h2>CHARMELEON</h2>
                    <div class="tipo">
                        <span class="fuego">Fuego</span>
                        
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-fuego">
                    <img src="../img/pokedex/primeraGeneracion/640px-Charizard.png" alt="charizar Nº 06 tipo fuego y volador">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 06</span>
                    <h2>CHARIZAR</h2>
                    <div class="tipo">
                        <span class="fuego">Fuego</span>
                        <span class="volador">volador</span>
                        
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-agua">
                    <img src="../img/pokedex/primeraGeneracion/800px-Squirtle.png" alt="squirtle Nº 07 tipo agua">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 07</span>
                    <h2>SQUIRTLE</h2>
                    <div class="tipo">
                        <span class="agua">AGUA</span>
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-agua">
                    <img src="../img/pokedex/primeraGeneracion/800px-Wartortle.png" alt="wartortle Nº 08 tipo agua">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 08</span>
                    <h2>WARTORTLE</h2>
                    <div class="tipo">
                        <span class="agua">AGUA</span>
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-agua">
                    <img src="../img/pokedex/primeraGeneracion/800px-Blastoise.png" alt="Blastoise Nº 09 tipo agua">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 09</span>
                    <h2>BLASTOISE</h2>
                    <div class="tipo">
                        <span class="agua">AGUA</span>
                    </div>

                </div>
            </a>

            
            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-bicho">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/010.png" alt="caterpie Nº 10 tipo bicho">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 10</span>
                    <h2>CATERPIE</h2>
                    <div class="tipo">
                        <span class="bicho">BICHO</span>
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-bicho">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/011.png" alt="metapod Nº 11 tipo bicho ">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 11</span>
                    <h2>METAPOD</h2>
                    <div class="tipo">
                        <span class="bicho">BICHO</span>
                    </div>

                </div>
            </a>

            <a href="#" class="tarjeta-pokemon">
                <div class="tarjeta-pokemon-img img-bicho">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/012.png" alt="butterfree Nº 12 tipo bicho volador">
                </div>
                <div class="tarjeta-pokemon-info">
                    <span class="numero-pokemon">Nº 11</span>
                    <h2>BUTTERFREE</h2>
                    <div class="tipo">
                        <span class="bicho">BICHO</span>
                        <span class="volador">VOLADOR</span>
                    </div>

                </div>
            </a>

     </main>
    </div>
        <footer>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./personajes.html">personajes</a></li>
                <li><a href="./pokedex.html">Pokedex</a></li>
                <li><a href="./temporadas.html">Temporadas</a></li>
                <li><a href="./contactos.html">Contactos</a></li>
                
        </ul>
        <div class="SocRedes">
            <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>
            <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
            <a href="#" class="social-link"><i class="bi bi-youtube"></i></a>
            <a href="#" class="social-link"><i class="bi bi-tiktok"></i></a>
            <a href="#" class="social-link"><i class="bi bi-twitter-x"></i></a>
          </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>