footer{
    bottom: 0;
    width: 100%;
    margin-top: auto;
    border-top: solid red;
    background-color: rgba(255, 0, 0, 0.500);
     ul{display: flex;
        gap: 1rem;
        li{
            list-style-type: none ;
            margin-top: 10px;
             a{
                 font-size: 15px;
                 text-decoration: none;
                 color: black;
                 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
                 &:hover{
                 color: #fef900;
                 }
                }
         }
        }
     .SocRedes{
            margin-left: 720px;
            display: flex;
            align-items: center;
            background-color: black;
            height: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 10px;
            width: 14rem;
                a{
                    text-decoration: none;
                    color: #f9f9f9;
                }
            
                .bi-facebook:hover{color: #00d9ff}
                .bi-tiktok:hover{color: #16fd01}
                .bi-instagram:hover{color: #db0cc3}
                .bi-youtube:hover{color: #ff0808}
                .bi-twitter-x:hover{color: #b700ff}
             
                .bi{
                     margin: 5px;
                     padding: 10px;
                     border-radius: 50%;
                    
                     
                     transition: .5s;
                     }
                    }














    } 