h1{ color: $colorPrincipalLetra;
    font-family: "pokemonSolid" ;
    text-shadow: 10px 10px 0px $colorSombraLetra;
    font-size: 4rem;
    text-decoration: none;
    display: grid;
    place-items: center;
    padding-top: 1rem;
    margin-bottom: 30px;
}
.aca{
    font-size: 25px;
    
}