.lista-personajes{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    .ash{
        background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 27%, rgba(255,255,255,1) 61%);}

    .misty{background: rgb(255,115,0);
        background: linear-gradient(277deg, rgba(255,115,0,1) 27%, rgba(255,244,0,1) 61%);}
    
    .brock{background: rgb(198,197,197);
        background: linear-gradient(27deg, rgba(198,197,197,1) 27%, rgba(140,68,9,1) 61%);
    }
    .gary{background: rgb(8,136,252);
        background: linear-gradient(120deg, rgba(8,136,252,1) 27%, rgba(9,140,13,1) 61%);}
    
    .oak{background: rgb(255,255,255);
        background: linear-gradient(308deg, rgba(255,255,255,1) 27%, rgba(170,123,2,1) 61%);;}
    
    
    
    .joy{background: rgb(255,228,240);
        background: linear-gradient(120deg, rgba(255,228,240,1) 27%, rgba(254,73,250,1) 61%);;
    }

    .tarjeta-personajes{
        position:relative;
        border: solid black;
        border-radius: 20px;
        margin-top: 3rem;
        margin-right: 2rem;
        margin-left: 2rem;
        height: 400px;
        width: 350px;
        display: flex;
        text-align: center;
        align-items: center;
        align-content: center;
           
        .img-personaje{
            width: 300px;
            height:350px;
            margin-left: 2rem;
        }
        .tarjeta-texto{
            padding: 2rem;
            height: 100%;
            width: 100%;
            justify-content: center;
            display: flex;
            text-align: center;
            align-items: center;
            color: $colorPrincipalLetra;
            font-family: "pokemonSolid" ;
            text-shadow: rgb(0, 115, 188) 3px 0px 0px, rgb(0, 115, 188) 2.83487px 0.981584px 0px, rgb(0, 115, 188) 2.35766px 1.85511px 0px, rgb(0, 115, 188) 1.62091px 2.52441px 0px, rgb(0, 115, 188) 0.705713px 2.91581px 0px, rgb(0, 115, 188) -0.287171px 2.98622px 0px, rgb(0, 115, 188) -1.24844px 2.72789px 0px, rgb(0, 115, 188) -2.07227px 2.16926px 0px, rgb(0, 115, 188) -2.66798px 1.37182px 0px, rgb(0, 115, 188) -2.96998px 0.42336px 0px, rgb(0, 115, 188) -2.94502px -0.571704px 0px, rgb(0, 115, 188) -2.59586px -1.50383px 0px, rgb(0, 115, 188) -1.96093px -2.27041px 0px, rgb(0, 115, 188) -1.11013px -2.78704px 0px, rgb(0, 115, 188) -0.137119px -2.99686px 0px, rgb(0, 115, 188) 0.850987px -2.87677px 0px, rgb(0, 115, 188) 1.74541px -2.43999px 0px, rgb(0, 115, 188) 2.44769px -1.73459px 0px, rgb(0, 115, 188) 2.88051px -0.838247px 0px;
            position:absolute;
            border-radius: 15px;
            font-weight: bold;
            bottom: 0;
            top: 0;
            right: 0;
            background-color: rgba(255, 0, 0, 0.800);
            left: 0;
            visibility: hidden;
            opacity: 0;
            transition: .5s;

            h2{    
                font-size: 30px;
                margin-bottom: 10px;
            }
       
            }
        &:hover .tarjeta-texto{
            visibility: visible;
            opacity: 1;
            
            }
        }        
         
}